:root.theme-dark {
  --main-font-weight: 465;
  --headings-font-weight: 785;
  --accent-color: #00cc14;
  --button-text-color: #00cc14;
  --page-background-color: #000000;
  --text-color: #00cc14;
  --page-background-image: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
}

:root.theme-light {
  --main-font-weight: 400;
  --headings-font-weight: 700;
  --accent-color: #000;
  --button-text-color: #ffffff;
  --page-background-color: #ffffff;
  --text-color: #000000;
  --page-background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font-weight: 400;
    --headings-font-weight: 700;
    --accent-color: #000;
    --button-text-color: #ffffff;
    --page-background-color: #ffffff;
    --text-color: #000000;
    --page-background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  }
}
