:root {
  --accent-font-family: "PressStart2P", fantasy;
  --main-font-family: "Inter", sans-serif;
  --main-font-weight: 465;
  --headings-font-weight: 785;
  --heart-sparks-color: #ff0000;
  --accent-color: #00cc14;
  --button-text-color: #00cc14;
  --page-background-color: #000000;
  --text-color: #00cc14;
  --page-background-image: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c, #004306);
}
